<app-global-error></app-global-error>
<app-header
  [tableName]="currentTable"
  [fullTableIsLoading]="fullTableIsLoading"
  (savaTableEvent)="saveTable()"
  (editTableEvent)="editTable()"
  (removeTableEvent)="removeTable()"
></app-header>
<div style="display: flex">
  <app-sidebar
    [tables]="tables"
    [isLoading]="tablesIsLoading"
    [currentTable]="currentTable"
    (changeTableEvent)="changeTable($event)"
    (addTableEvent)="addTable()"
  ></app-sidebar>
  <app-table
    [fullTable]="currentFullTable"
    [fullTableIsLoading]="fullTableIsLoading"
  ></app-table>
</div>
