form {
    display: flex;
    flex-direction: column;
}

.second-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 0;
}