<div class="tables-dialog">
  <mat-form-field>
    <mat-label>Title of table</mat-label>
    <input
      matInput
      placeholder="Task 123"
      [(ngModel)]="this.name"
    />
  </mat-form-field>

  <div class="dialog-actions" mat-dialog-actions>
    <button mat-raised-button (click)="this.dialogRef.close()">Close</button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="this.name"
      cdkFocusInitial
    >
      {{ isEdit ? "Edit table" : "Add table" }}
    </button>
  </div>
</div>
